.idea
domains/item/models/__pycache__
domains/permission/models/__pycache__
domains/user/models/__pycache__
infrastructure/config/__pycache__
migrations/__pycache__
migrations/versions/__pycache__
application/request/__pycache__
application/service/__pycache__
domains/item/entity/__pycache__
domains/item/repository/__pycache__
domains/item/service/__pycache__
*.pyc
domains/lex/parser.out
domains/lex/parse_log.txt
domains/lex/parsetab.py
